.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.modal-title {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: #a227be;
  border-bottom: 2px solid #a227be;
  padding-bottom: 10px;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close:hover {
  color: #ff0000;
}

/* Skills list */
.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Skills List Item */
.skills-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 12px;
  background-color: #f7f5fa;
  border-left: 4px solid #a227be;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: background 0.2s ease, transform 0.2s ease-in-out;
  /* Added transition for transform */
}

/* Hover effect for skills list item */
.skills-list li:hover {
  background-color: #f0ebf6;
  transform: scale(1.02);
  /* Scale effect on hover */
}

.skills-list i {
  font-size: 20px;
  margin-right: 10px;
}

.skills-list span {
  font-size: 16px;
  color: #444;
}
